@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KOTINI ON LINNANI</h1>
    <p class="lead">Muokkaa kodin toimintoja</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kodin lämpötila</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href= "http://localhost:58290/Lämpotila/Index">Kodin lämpotila</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sauna</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:58290/Sauna/Index">Sauna</a></p>
    </div>
    <div class="col-md-4">
        <h2>Valot</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:58290/Valo/Index">Valaistus</a></p>
    </div>
</div>